html, body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 2em;
  text-transform: none;
  color: #222; }

h3 {
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .1em;
  line-height: 2em;
  text-transform: uppercase; }

/* Navigation */
.welcomenav {
  display: flex;
  align-items: center;
  height: 70px;
  z-index: 1; }

.welcomenav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: transparent; }

.welcomenav li {
  float: left; }

.welcomenav li a {
  outline: none;
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: #161618;
  text-align: center;
  font-size: 12px;
  margin: 0px 16px; }

.welcomenav li a:focus {
  border-bottom: 2px solid;
  border-color: #FBC4C4; }

.welcomenav li a:hover {
  border-bottom: 2px solid;
  border-color: #CBEDE9;
  background-color: linear-gradient(to left, #FBC4C4, #CBEDE9); }

a.selected {
  border-bottom: 2px solid;
  border-color: #FBC4C4; }

.border-gradient {
  border-image-slice: 1;
  border-width: 8px; }

.border-gradient-square {
  border: 8px solid;
  border-image: linear-gradient(to left, #FBC4C4, #CBEDE9); }

.border-gradient-line {
  border-bottom: 4px solid;
  border-image: linear-gradient(to left, #FBC4C4, #CBEDE9); }

/* End navigation */
.intro-container {
  animation-delay: 2s;
  animation: colorchange 11s infinite 1.25s;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 11s infinite 1.25s;
  /* Chrome and Safari */
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: calc(100vh - 70px); }

.quote-content {
  padding: 50px;
  text-align: left;
  margin: 0 auto;
  justify-self: center;
  width: 37%;
  align-self: center; }
  @media screen and (max-width: 1024px) {
    .quote-content {
      width: 83.3333%;
      padding: 14px; } }

.arrow-bounce {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }
  @media screen and (max-width: 600px) {
    .arrow-bounce {
      bottom: 20px; } }

.arrow-bounce img {
  animation-delay: 7s;
  animation: bounce 2.75s infinite 7.25s;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: bounce 2.75s infinite 7.25s;
  /* Chrome and Safari */
  width: 40px; }

.half-page {
  height: 50vh; }

.full-page {
  height: 100vh; }

/* Work boxes */
.work-boxes {
  padding: 0px !important;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  color: #444; }
  @media screen and (max-width: 1024px) {
    .work-boxes {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 768px) {
    .work-boxes {
      grid-template-columns: repeat(1, 1fr); } }

.box {
  position: relative;
  max-width: 100%;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 150%; }

.box img {
  height: 100%;
  width: 100%; }

.hero-stripe {
  padding: 120px 60px;
  background-color: #CBEDE9; }

.jumbotron {
  z-index: 0;
  display: inline-block;
  background: transparent;
  height: 100%;
  text-align: left;
  border-bottom: 1px solid #efefef; }

.jumbotron a {
  padding-top: 10px;
  padding-left: 8px;
  text-decoration: none;
  float: left;
  line-height: 1.71;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: #999; }

.jumbotron a:hover {
  color: red; }

.intro-content {
  line-height: 1.71;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: #999; }

.intro-content img {
  width: 40px;
  height: 25px;
  vertical-align: middle;
  padding-right: 15px;
  text-align: center; }

.placement {
  background: red;
  height: 20px; }

.footer {
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  float: left;
  line-height: 1.45;
  margin-bottom: 30px;
  margin-top: -10px;
  text-align: center; }

.footercontact {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  float: left;
  line-height: 1.45;
  margin-bottom: 30px;
  margin-top: -17px; }

@keyframes colorchange {
  0% {
    background: #ffffff; }
  33% {
    background: #CBEDE9; }
  66% {
    background: #FBC4C4; }
  100% {
    background: #ffffff; } }
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #ffffff; }
  33% {
    background: #CBEDE9; }
  66% {
    background: #FFBBBA; }
  100% {
    background: #ffffff; } }
@keyframes colorchangereverse {
  0% {
    background: #ffffff; }
  33% {
    background: #FBC4C4; }
  66% {
    background: #CBEDE9; }
  100% {
    background: #ffffff; } }
@-webkit-keyframes colorchangereverse /* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #ffffff; }
  33% {
    background: #FBC4C4; }
  66% {
    background: #CBEDE9; }
  100% {
    background: #ffffff; } }
@-webkit-keyframes bounce {
  0% {
    transform: translate(0px, 0px); }
  30% {
    transform: translate(0px, 5px); }
  75% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

/*# sourceMappingURL=style.css.map */
